h2, h3{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
    justify-content: center;

}

p{
  font-size: 20px;
  justify-content: right;
}


.social-icon{
  color: blue;
}

